/*start Header*/
*{-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
-o-box-sizing: border-box;
box-sizing: border-box;
}
/*start scroll top*/
#scroll-top{
	width: 35px;
	height: 35px;
	background: #272727;
	color: #DDD;
	position: fixed;
	right: 15px;
	bottom: 10px;
	border-radius: 15%;
  cursor: pointer;
	-webkit-box-shadow:-2px 2px 7px #9E9E9E;
	box-shadow: 2px -2px 7px #9E9E9E;
  z-index: 9999;
	display: none
}
#scroll-top:hover{background:#444;}
/*End scroll top*/
.back{
  position: relative;
  background: url('../img/2.jpg')no-repeat center center ;
background-size: cover;
border-radius: 0 0 80% 80%/ 30%;
height: 550px;
}
.overlay{
  position: absolute;
  width: 100%;
  background: rgba(2, 2, 2, 0.5);
  border-radius: 0 0 80% 80%/ 30%;
  height: 550px;
}
.half1{
left: 13.5%;
margin-top:21%;
text-align: left;}
.half1 span{
  line-height: 1%;
  font-size: 60px;
  font-weight: 700;
  background: -webkit-linear-gradient( #209cff 0%, #68e0cf 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  }
.half1 span img:first-child{
  width: 44px;
  margin-top: -2%;
	transform-origin: center center;
	transform: scale(1);
	opacity: 1;
	animation: heart 1.2s 1 linear, beats 1s 1.4s infinite
}
@keyframes heart {
	0%{transform:scale(10);opacity: 0;
 }
	100%{transform: scale(1);opacity: 1}
}
@keyframes beats {
50%{transform: scale(1.1);}
100%{transform: scale(1);}
}
.half1 >img{
  width: 240px;
    margin-top: -12%;
    margin-bottom: -7%;
}
.half1:after {
  content: "";
  display: block;
  width: 120px;
  height:4px;
  position: absolute;
  top: 10%;
  left: 50%;
  margin-left: -300px;
  margin-top: 100px;
  border-radius: 100%;
  background:#46c0e5 ;
  box-shadow: 32px 5px 0 #46c0e5;
  animation: moveShadow 1.5s ease-in-out infinite alternate, moveElement 1.5s 1.4s ease-in infinite;
  opacity: 0;
  transform: translateX(-50px);
}
@keyframes moveElement {
  30%, 50% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    transform: translateX(300px);
    opacity:0;
  }
}
@keyframes moveShadow {
  100% {
    box-shadow: -32px 5px 0 #46c0e5;
  }
}
.half2{text-align: right; margin: 2% 5% 0; width: 40%}
.half2 label:first-of-type{ border-right: 1px solid}
.half2 label{font-size: 85%; color:#46c0e5; transition: .5s ease-in-out; cursor: pointer;padding:1% 3%;}
.half2 label i{padding-right: 2px}
.half2 label:hover{color:#E3fdf5 }
.half2 label:first-of-type:hover{ border-right: 1px solid #46c0e5}

/*End Header */
.price_table{
	margin-top: -8%;
	background: #edecde;
	padding-top: 40px;
	padding-bottom: 40px;
}
.price_table h1{
	margin-top: 12%;
	margin-bottom: 5%;
	color:#46c0e5;
	font-size: 180%
}
.price_table h3{
	margin: 30px 0 ;
	color:#46c0e5;
	font-size: 130%
}
.price_table .price_box{
	background: red; /* For browsers that do not support gradients */
  background: linear-gradient(to bottom right, #888,#3A6073); /* Standard syntax (must be last) */
	border-radius: 15px;
	height: 450px;
	padding-top: 10px;
	margin-bottom: 45px;
	transition: all 1s ease-in-out;
}
.price_table .price_box:hover{transform: scale(1.1);}
.price_table .price_box p{
	text-align: center;
	margin: 10px auto;
	font-weight: bold;
	font-size: 35px;
	color: #888;
	width: 100px;
	height: 100px;
	background-color: #f3f3f3;
	line-height: 100px;
	border-radius: 50%;
	border: 2px solid #FFF;
	-webkit-transition-duration:.7s;
	-moz-transition-duration:.7s;
	-o-transition-duration:.7s;
	transition-duration:.7s;
}
.price_table .price_box:hover p{
	-webkit-transform:scale(1.2,1.2) rotate(360deg);
	-moz-transform:scale(1.2,1.2) rotate(360deg);
	-o-transform:scale(1.2,1.2) rotate(360deg);
	transform:scale(1.2,1.2) rotate(360deg);
	border: 2px solid #DFDFDF;
}
.price_table .price_box ul{
	line-height: 250%;
	font-size: 20px;
	color: #E3fdf5;
	margin: 30px;
	font-family: "Amiri",arial;
}
.price_table .price_box a{
	margin: 10%;
	font-size: 20px;
	font-family: "Amiri",arial;
	padding: 3% 15%;
	background: transparent;
	border:2px solid #999;
	color: #E3fdf5;
	transition: all .5s ease
}
.price_table .price_box a:hover{
	transform: scale(1.2);
	background: #46c0e5;
	border:2px solid transparent;
	color: #E3fdf5;
}
/*start goal*/
.map{
  background: url('../img/map.jpg');
  height:400px;
  width: 100%;
  position: relative;
}
.map .over{
  position: absolute;
  width: 100%;
  background: rgba(2, 2, 2, 0.7);
  height: 400px;
}
.map .over h2{
	text-align:center;
  margin:5% 40% 0%;
  color:#46c0e5;
  font-size: 120%;
  font-weight: 400;
	display: flex;
font-family:"Amiri",arial,sans-serif;
  padding: 1em
}
.map .over a{
  text-decoration: none;
  position: absolute;
  color:#E3fdf5;
  padding: 10px;
  font-size: 120%;
  font-family: "Amiri",arial,sans-serif;
  margin: 0% 43%;
  border:2px solid #999;
  border-radius: 5px;
  transition: all .5s ease-in-out;
  cursor: pointer;
}
.map .over a:hover ,.map .over a:focus{
  background-color: #46c0e5;
  border: 2px solid #46c0e5
}
/*End Goal*/
/* start vision*/
.footer{
	padding-top: 0;
	margin: 0;
	background: #111;
	color:#AAA;
	text-align:right;
}
.footer h3{
	color: #0895D1;
	letter-spacing: 1px;
	margin:5% 30% 6%;
}
.footer .three-columns{
	overflow: hidden;
}
.footer .three-columns li{
	width:40%;
	float: right;
	margin: 5%;
}
.footer .three-columns li a{
	text-decoration: none;
	color: #AAA;
	transition: all .5s ease-in-out
}
.footer .three-columns li a:hover{text-decoration: underline;color: #FFF}
.footer .social-list{
	overflow: hidden;
	margin:10% 20%
}
.footer .social-list li{
	color: #FFF;
	float: right;
	opacity: .7;
	filter: alpha(opacity=70)
    -webkit-transition:all .5s ease-in-out;
    -moz-transition:all .5s ease-in-out;
    -o-transition:all .5s ease-in-out;
    transition:all .5s ease-in-out;
}
.footer .social-list li:hover{
	opacity: 1
}
.footer .social-list li i{padding: 8px 5px 8px;border-radius: 2px;}

/* end vision*/
/*Start Footer*/
footer{background: #222;}
footer h5{background: -webkit-linear-gradient( #209cff 0%, #68e0cf 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
padding-top: 3%;
padding-bottom: 2.5%;
text-align: center;
margin: auto;
}
/*End Footer*/
